<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
  <div class="card-img">
    <img src="assets/img/servidor-dns.png">
    <span class="offset-md-1">
      <h4>{{position}}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>Servicios</p>
    <ul>
        <li *ngFor="let s of destino.servicios">
          <span [ngSwitch]="s">
          <i *ngSwitchCase="'desayuno'" style="color: red">{{s}}</i>
          <i *ngSwitchDefault>{{s}}</i>
          </span>
        </li>
    </ul>
    <div class="offset-md-10">
       <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
         <i class="material-icons">thumb_up</i></a>
       <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
         <i class="material-icons">thumb_down</i></a>
       {{destino.votes}}
    </div>
    <div class="container" >
      <a href="#" class="btn-card" (click)=ir() appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir</a>
      <a [routerLink]="['/destino',destino.id]" class="btn-card">Ver</a>
      <a href="#" class="btn btn-danger mt-2 mb-2" (click)=borrarItem()>Borrar</a>
      <hr>
      <span *ngIf="destino.isSelected()"><strong ngNonBindable> {{PREFERIDO}} </strong> </span>
    </div>
 </div>
</div>
