<div class="container content">

  <div class="page-header">
      <div style="float: right">
        <select (change)="translate.use($event.target.value)">
            <option value="es">Español</option>
            <option value="fr">Frances</option>
            <option value="en">Ingles</option>
        </select>

      </div>
      <div class="container">
        <h1>Ruteo Simple</h1>
        <div class="navLinks">
            <a [routerLink]="['home']">Inicio </a>
            <a [routerLink]="['vuelos']">/ Vuelos </a>
            <a [routerLink]="['reservas']">/ Reservas </a>

        </div>
      </div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h1>{{title}} <b [innerHTML]="'HOLA' | translate"></b></h1>
        </div>
      </div>
  </div>
  <hr>
  
  <router-outlet></router-outlet>
</div>
<hr class="mb-5">
Time: {{ time | async }}
