<h1>Este es el destino de su eleccion</h1>
<h2>{{ destino.id}}</h2>
<h2>{{destino.nombre}}</h2>
<hr>
<mgl-map 
    [style]="style"
    [zoom]="[2]" 
    style="height: 50vh; width: 100vw;">
    <mgl-marker [lngLat]="[-75.551012, 10.421185]">
        <div onclick="alert('hola')" class="marker"> Hola Mundo !!!
        </div>
    </mgl-marker>
</mgl-map>